.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.sub-text {
  padding-top: 10px;
  font-size: 25px;
  color: white;
}

.connect-container {
  
}

button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(
    to top,
    #a7eee4 0%,
    #69e4d3 21%,
    #53ffe8 52%,
    #43f1da 78%,
    #09b8a0 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 5px;
  margin-left: 5px;
}

.goblin-gif {
  width: 45%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}